.storybook-chemical-element {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100px;
  height: 100px;
  border: solid;

  #atomic-number {
    font-size: 0.8rem;
    text-indent: 0.25em;
  }

  #symbol {
    font-size: 1.2rem;
    text-align: center;
  }

  #name {
    font-size: 0.8rem;
    text-align: center;
  }
}
.storybook-chemical-element--passive {
  background-color: white;
}
.storybook-chemical-element--active {
  background-color: cyan;
}
